---
    title: Tony Holroyd - CV
    layout: cv
---
<input type="radio" name="section" id="radio-summary" checked/>
<input type="radio" name="section" id="radio-skills"/>
<input type="radio" name="section" id="radio-employment"/>
<input type="radio" name="section" id="radio-contracts"/>
<input type="radio" name="section" id="radio-qualifications-and-education"/>
<input type="radio" name="section" id="radio-non-qualification-courses"/>

<div id="qrlink">
    <img src="https://quickchart.io/qr?text=is.gd%2Ftonyhcv&ecLevel=L&margin=0&size=45&format=svg"/>
    <p>is.gd/tonyhcv</p>
</div>
<div class="container-xxl">
<header>Tony John Holroyd</header>
<p>linkedin@tonyholroyd.co.uk / 0780 332 1919</p>

<h1 id="summary"><label for="radio-summary">Summary</label></h1>
<div>
<p>Tony is an ISTQB qualified test engineer and ITIL qualified support engineer. He has delivered in both agile (scrum and kanban) and waterfall projects
as well as mixed agile-waterfall projects. He has taken the role of test lead with teams of both experienced and new testers. Working as a consultant
with multiple clients Tony has experience of many industries, developer teams, and test tools and approaches.</p>

<p>Tony has experience of automated application testing through Selenium, HTTP (REST) API and JDBC. He has built test frameworks in Java and Scala
integrating with Jenkins CI servers. With roles of developer, customer and operations support, and development and integration engineer Tony has
gained a solid background in the many sides of the SDLC. He uses this experience to guide test planning and criteria creation.</p>

<p>Managers consider him a valuable asset to the team; JPMorgan and Tesco have actively rehired him.</p>
</div>

<h1><label for="radio-skills">Key Skills</label></h1>


<div id="skills" class="row mb-5">
    {% for skillset in site.data.testcv.skills %}
        <section class="skill col-sm-4">
            <h2>{{ skillset[0] }}</h2>
            <ul>
                {% for skill in skillset[1] %}
                <li><span class="what">{{ skill[0] }}</span> <span class="howlong">{{ skill[1] }}</span></li>
                {% endfor %}
            </ul>
        </section>
    {% endfor %}
</div>

<h1 id="employment"><label for="radio-employment">Employment</label></h1>
<div>
{% assign jobs = site.testjobs | where: "type", "permanent" %}
{% for job in jobs reversed %}
    <section class="job">
        <div class="row mb-5">
            <div class="col-md-4">
            <h2>{{ job.role | role }}.</h2>
            <ul>
                {% for skill in job.skills %}
                    <li>{{ skill }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-8">
            {{ job.content }}
        </div>
    </div>
</section>
{% endfor %}
</div>

<h1 id="contracts"><label for="radio-contracts">Contracts</label></h1>
<div>
{% assign jobs = site.testjobs | where: "type", "contract" %}
{% for job in jobs reversed %}
<section class="contract row mb-5">
    <div class="col-md-4">
    {% for contract in job.contracts %}
        <h2>{{ contract | role }}.</h2>
        {% endfor %}
        <ul>
            {% for skill in job.skills %}
                <li>{{ skill }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-8">
    {{ job.content }}
    </div>
</section>
{% endfor %}
</div>

<div id="education">
{% for education in site.data.testcv.education %}
<h1 id="{{ education[0] | slugify }}"><label for="radio-{{ education[0] | slugify }}">{{ education[0] }}</label></h1>
<div>
    <section class="education {{ education[0] | slugify }}">
    <ul>
        {% for qual in education[1] %}
        <li>{{ qual | qualification }}</li>
        {% endfor %}
    </ul>
    </section>
</div>
{% endfor %}
</div>

</div>