<div class="d-print-none sticky-xxl-bottom">
    <a href="/assets/tonyholroyd.docx" title="View as Word document" class="d-xxl-flex d-inline-flex">
        <img src="/assets/file-earmark-word.svg" alt="" width="32" height="32"/>
        <span class="d-none">Download the webpage in MS Word format.</span>
    </a>
    <a href="/assets/tonyholroyd.pdf" title="View as PDF document" class="d-xxl-flex d-inline-flex">
        <img src="/assets/file-earmark-pdf.svg" alt="" width="32" height="32"/>
        <span class="d-none">Download the webpage in PDF format.</span>
    </a>
</div>