
    @page {
        size: a4;
        margin: 12.5mm;
    }

    $fontsize: 10pt;
    $indent: 22mm;
  

    #qrlink {
        display: block;
        position:absolute;
        font-family:Arial, Helvetica, sans-serif;
        font-size: x-small;
        text-align: center;
        border-right: 10pt solid white;
        background-color: white;
        p {
            margin: 0pt;
            padding: 0pt;
        }
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: $fontsize;
    }
    
    header {
        text-align: center;
        font-size: 13pt;
        font-weight: bold;
    
        +p {
            text-align: center;
        }
    }
    
    h1 {
        text-align: right;
        color: lightgrey;
        font-size: 12pt;
        border-top: 2pt solid lightgrey;
        page-break-after: avoid;
    }
    
    h2 {
        font-weight: normal;
        font-size: $fontsize;
        page-break-after: avoid;
        .when, .where {
            font-weight: bold;
        }
    }

    a {
        color: inherit;
        text-decoration: inherit;
    }

    .job, .contract, .education {
        p {
            margin-top: 5pt;
            margin-bottom: 0pt;
            &:last-child {
                margin-bottom: 0pt;
            }
        }

        ul {
            li {
              color: black;
              margin-left: 1em
            }
        }
    }

    .list-unstyled {
        list-style: none;
        padding-left: none;
        width: $indent - 0.2cm;
        text-align: right;
        float: left;
    }

    .job, .contract {
        margin-top: 14pt;
        &:first-child {
           margin-top: 6pt;
        }
        .intro {
            page-break-inside: avoid;
        }
    }


    
    #skills {
        display: flex;
        flex-wrap:  wrap;
    
        .skill {
            width: 30%;
            padding-left: 2.5%;
            padding-right: 2.5%;
            margin: 0px;
    
            &:last-of-type {
                padding-right: 0%;
            }
    
            &:first-of-type {
                padding-left: 0%;
            }
    
            h2 {
                font-weight: bold;
                padding-bottom: 0pt;
                padding-left: 1em;
                margin-bottom: 0px;
            }
    
            ul {
                margin: 0px;
                padding-left: 1em;
            }

            .what {
                width: 60%;
                display: inline-block
            }
        }
    }
    
    #education {
        page-break-inside: avoid;
    }


    .education {
        ul {
            list-style-type: none;
            padding-left: 0pt;
            margin-left: 0pt;
            
            li span {
                position: relative;
                width: $indent - 0.20cm !important;
                text-align: right;
                margin-right: 0cm;
                padding-bottom: 3pt;
                border: 1px solid black;
                }
        }
    }



.contract, .job {
        position: relative;
        padding-left: 0mm;
        padding-right: 0mm;
        margin-left: 0mm;
        margin-right: 0mm;


}

.role, .skills, .details {
    position: relative;
    left: $indent;
    padding-left: 0mm;
    padding-right: 0mm;
    margin-left: 0mm;
    margin-right: 0mm;
    width: 180mm - $indent;
    margin-top: 0mm;
    margin-bottom: 0mm;
    // border: 1px solid black;
}

.role {
    margin-top: 0cm;
    padding-top: 0cm;
    padding-bottom: 2pt;
}

.when {
    font-size: $fontsize;
    list-style: none;
    position: absolute;
    left: 0cm;
    width: $indent - 2mm;
    top: 0cm;
    text-align: right;
    padding-left: 0cm;
    padding-right: 0cm;
    padding-top: 0cm;
    margin-top: 0cm;
    margin-left: 0cm;
    margin-right: 0cm;
    li {
        margin-left: 0cm !important;
    }
}

.job {
}
