@media print {
    @page {
        size: a4;
        margin: 12.5mm;
    }

    $fontsize: 10pt;
    $indent: 20mm;
  
    input[name=section] {
        display: none;
    }

    #qrlink {
        display: block;
        position:absolute;
        font-family:Arial, Helvetica, sans-serif;
        font-size: x-small;
        text-align: center;
        border-right: 10pt solid white;
        background-color: white;
        p {
            margin: 0pt;
            padding: 0pt;
        }
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: $fontsize;
    }
    
    header {
        text-align: center;
        font-size: 13pt;
        font-weight: bold;
    
        +p {
            text-align: center;
        }
    }
    
    h1 {
        text-align: right;
        color: lightgrey;
        font-size: 12pt;
        border-top: 2pt solid lightgrey;
        margin-bottom: 0pt;
        page-break-after: avoid;
    }
    
    h2 {
        font-weight: normal;
        font-size: $fontsize;
        padding-left: 0cm;
        margin-top: 3pt;
        margin-bottom: 0pt;
        page-break-after: avoid;
        .when, .where {
            font-weight: bold;
        }
    }

    .job, .contract, .education {
        p {
            padding-left: $indent;

            margin-top: 5pt;
            margin-bottom: 0pt;
            &:last-child {
                margin-bottom: 0pt;
            }
        }

        ul {
            padding-left: $indent;
            li {
              color: black;
              margin-left: 1em
            }
        }
    }

    .job, .contract {
        padding-top: 14pt;
        &:first-child {
           padding-top: 6pt;
        }
        .intro {
            page-break-inside: avoid;
        }
    }


    .what {
        width: 60%;
        display: inline-block
    }




    .when {
        display: inline-block;
        width: $indent - 0.2cm;
        margin-right: 0.2cm;
        text-align: right;
    }
    

    
    #skills {
        display: flex;
        flex-wrap:  wrap;
    
        .skill {
            width: 30%;
            padding-left: 2.5%;
            padding-right: 2.5%;
            margin: 0px;
    
            &:last-of-type {
                padding-right: 0%;
            }
    
            &:first-of-type {
                padding-left: 0%;
            }
    
            h2 {
                font-weight: bold;
                padding-bottom: 0pt;
                padding-left: 1em;
                margin-bottom: 0px;
            }
    
            ul {
                margin: 0px;
                padding-left: 1em;
            }

            .what {
                width: 50%;
                display: inline-block
            }
        }
    }
    
    #education {
        page-break-inside: avoid;
    }


    .education {
        ul {
            list-style-type: none;
            padding-left: 0pt;
            margin-left: 0pt;
            
            li span {
                width: $indent - 0.20cm;
                text-align: right;
                margin-right: 0cm;
                padding-bottom: 3pt;
                }
        }
    }
}