$indent: 0em;

input[name=section], #qrlink {
    display: none;
}

body {
    background-color: cornsilk;
}


h2 {
    font-size: 120%;
    font-weight: 400;

    .where {
        font-weight: bolder;
    }
}

header {
    text-align: center;
    font-size: x-large;
    font-weight: bold;

    +p {
        text-align: center;
    }
}