input[name=section], #qrlink {
    display: none;
}

.container-xxl {
    background-color: cornsilk;
}

.where {
    font-weight:bolder;
}


h2 {
    font-size: 120%;
}

header {
    text-align: center;
    font-size: x-large;
    font-weight: bold;

    +p {
        text-align: center;
    }
}
