--- 
---

@import "bootstrap/bootstrap";

#qrlink {
    display: none;
}

header {
    text-align: center;
     &+p {
        text-align: center;
    }

}

h1 {
    // border-top: 2px solid royalblue;
    text-align: left;
    // color: royalblue;
    @include font-size(2rem);
}

h2 {
    font-weight: 400;
    @include font-size(1.2rem);

}

.keyskill {
    h2 {
        font-weight: 500;
    }

    .what {
        display: inline-block;
        width: 50%;
    }

    @media (min-width: 768px) {
        section {
            border-left: 1px solid lightblue;
            &:first-child {
                border-left: 0px solid white;
            }
        }
    }
}

@media (min-width: breakpoint-min("md")) {
    #Summary+div,.job p {text-align: justify;}
}


.job {
    border-left: 2px solid lightblue;

    .headline { 
        height: fit-content;
        position: relative;

        @media (min-width:  breakpoint-min("md")) {
            &::before {
                content: "⚪︎";
                color: lightblue;
                position: absolute;
                font-size: 75%;
                left: .25em;
                top: .25em;
            }
        }
    }

    .when {
        font-style: italic;
        position: relative;

        @media (min-width:  breakpoint-min("md")) {
            &::before {
                content: "⚪︎";
                color: lightblue;
                font-style: normal;
                position: absolute;
                left: 0px;
                font-size: 75%;
                left: -.75em;
                top: .25em;
            }
        }
    }


    .skills {
        padding-left: 2rem;
        position: relative;

        @media (min-width:  breakpoint-min("md")) {
            &::before {
                content: "⚪︎";
                color: lightblue;
                position: absolute;
                left: 0px;
                font-size: 75%;
                left: -.75em;
                top: .25em;
            }
        }
    }

    // border-top: 2px solid lightblue;

    @media (min-width: 768px) {
        h2 {

            display: flex;
            flex-direction: column;
            // align-items: center;


        }
        
//        .when > li {text-align: center;}
    }

    @media (max-width: 768px) {
        h2 {
            .who::before {
                content: "— "
            }

            .team::before {
                content: ", "
            }

            &::after {
                content:".";
            }
        }
    }

    .role {
        font-weight: 600;
    }

    
}


.education {
    .when {
        text-align: right;
        margin-left: calc(-0.5* var(--bs-gutter-x));
        margin-right: calc(-0.5* var(--bs-gutter-x));
    }
    .when_old {
        display: inline-block;
        width: 7em;
        text-align: right;
        padding-right: 4px;
    }
}

